/* HERO SECTION */
.project-hero{
    position: relative;
    height: 360px;
    background: url("images/project-1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content{
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.hero-content h1{
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.hero-content p{
    font-size: 15px;
}

.hero-content a{
    color: #fff;
    text-decoration: none;
}
.projects-grid{
    padding: 20px;
}